.Form-content .Button {
    margin: 0 auto;
}
.Form-content {
    width: 70%;
    min-width: 300px;
    height: 47vw;
    min-height: 830px;
    margin: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: rgb(115, 115, 115);
    text-transform: uppercase;
    font-size: 18px;
}
.Form-content span {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}
.Form-content input, textarea {
    width: 40vw;
    max-width: 700px;
    min-width: 150px;
    height: 30px;
    font-size: 18px;
    color: grey;
    border: 1px solid rgb(216, 216, 216);
}
.Form-content label {
    display: inline-block;
    width: 40vw;
    max-width: 700px;
    min-width: 150px;
}
.Form-content .titleEntry {
    height: 50px;
}
.Form-content .descriptionEntry {
    height: 80px;
}
.Form-content input[type=text] {
    height: 100%;
}
.Form-content input[type=file] {
    height: 100%;
    border: none;
}
.Form-content textarea {
    height: 100%;
}